* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
}

h1 {
    margin-bottom: 20px;
}

.select-excel-file {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 600;
}

.select-excel-file label {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: background .3s;
    border: 2px solid #00000044;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.select-excel-file label:hover {
    background-color: #00000023;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.select-excel-file button {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #0f0f0fc9;
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .3s;
}

.select-excel-file button:hover,
.select-excel-file button:active {
    background-color: #0f0f0fe5;
}

.select-excel-file button:disabled {
    background-color: #0000005d;
    cursor: not-allowed;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 40px;
    font-size: 13px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    max-width: 150px;
    width: auto;
}

th {
    background-color: #2B2B2B;
    color: white;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #7272726b;
}

.button-selectable {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: transparent;
    border: 3px solid transparent;
    font-size: 13px;
}

.button-selectable:hover {
    border: 3px dashed blueviolet;
    cursor: cell;
}

.button-selectable:active,
.button-selectable:focus {
    background-color: #892be24b;
    outline: none;
}

.loading {
    width: 20px;
    height: 20px;
    border: 3px solid #0f0f0f83;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading .9s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}